<!doctype html>
<html lang="fr">
<head>
    <title>Présence UCBL</title>
    <meta charset="UTF-8">

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous">

    </script>
    <link rel="stylesheet" href="presence.css">
    <link rel="preload" media="(min-width:801px)" href="presence.css" as="style">
    <link rel="stylesheet" media="(min-width:801px)" href="presence.css">
</head>
<body>
<h1>Présence UCBL (en AJAX) !</h1>
<div id="errMsg"></div>
<aside>
    <h2>Menu</h2>
    <ul>
        <li id="_accueil"><a href='#index' onclick="getPassageEnCours()">Accueil</a></li>
        <li><a href='#monCompte' onclick="getInfoUser()">Mon compte</a></li>
        <li><a href='#entree'>Entrée</a></li>
        <li><a href='#sortie'>Sortie</a></li>
        <li><a href='#passages' onclick="getAllPassages()">Tous mes passages</a></li>
        <li><a href='#deco'>Déconnexion</a></li>
    </ul>
</aside>
<section id='index' class='active'>
    <h2>Bienvenue sur Présence UCBL</h2>
    <p id="formLogin">
        <label for="userLogin">Entrez votre login : </label>
        <input type="text" name="login" id="userLogin">
        <input type="submit" value="Connexion" id="_admin" onclick="loginFonction()">
    </p>
    <!--
        A vous de modifier cette section pour qu'elle affiche les passages en cours quand l'utilisateur est connecté, et qu'elle se recharge toutes les 5 secondes...
      -->
    <script id="condloop"  type="text/html">
        <h2>Vous êtes actuellement dans les salles :</h2>
        <table id="passEnCours">
            <tr>
                <th>Passage N°</th>
                <th>User</th>
                <th>Salle</th>
                <th>dateEntree</th>
                <th>dateSortie</th>
                <th>Present(s)</th>
                <th>Saturee</th>

            </tr>

            {{#passagesEnCours}}
            <tr>
                <td>{{id}} </td>
                <td>{{user}} </td>
                <td>
                    {{salle}}
                </td>
                <td>
                    {{dateEntree}}
                </td>
                <td>
                    En cours ...
                </td>
                <td>
                    {{presents}}
                </td>
                {{#saturee}}
                <td>
                    <em style="color: #a21919">cette salle est saturée</em>
                </td>
                {{/saturee}}
            </tr>
            {{/passagesEnCours}}
        </table>
    </script>

</section>
<section id='monCompte' class='inactive'>
    <h2>Mon compte</h2>
    <script id="compteList"  type="text/html">
        <ul>
            <li>Login : <span id="login"> {{ login }}</span></li>
            <li>Nom : <span id="nom"> {{ nom }}</span></li>
            <li>Admin : <span id="admin"> {{ admin }}</span></li>
        </ul>
        <p>
            <label for="newName"> Modifier mon nom : </label>
            <input type="text" name="nom" id="newName" onkeyup="changeName()">
            <input type="submit" value="Modifier" onclick="editName()">
        </p>
        <p><a href='#deco'>Déconnexion</a></p>

    </script>

</section>
<section id='entree' class='inactive'>
    <h2>Entrer dans une salle</h2>
    <p>
        <label for="salleIdEntree">Entrer dans la salle : </label>
        <input type="text" name="salle" id="salleIdEntree">
        <input type="submit" value="Envoyer" onclick="entree()">
    </p>

    <p><a href="#index" onclick="logoutFunction()">Se déconnecter</a></p>
</section>
<section id='sortie' class='inactive'>
    <h2>Sortir d'une salle</h2>
    <p>
        <label for="salleIdSortie">Sortir de la salle : </label>
        <input type="text" name="salle" id="salleIdSortie">
        <input type="submit" value="Envoyer" onclick="sortie()">
    </p>
    <p><a href="#index" onclick="logoutFunction()">Se déconnecter</a></p>
</section>
<section id='passages' class='inactive'>
    <script id="passagesList"  type="text/html">
        <h2>Liste de tous mes passages</h2>
        <table id="allPassageByUser">
            <tr>
                <th>Passage N°</th>
                <th>User</th>
                <th>Salle</th>
                <th>dateEntree</th>
                <th>dateSortie</th>
                <th>Present(s)</th>
                <th>Saturee</th>
            </tr>

            {{#passagesEnCours}}
            <tr>
                <td>{{id}} </td>
                <td>{{user}} </td>
                <td>
                    {{salle}}
                </td>
                <td>
                    {{dateEntree}}
                </td>
                <td>
                    {{dateSortie}}
                </td>
                <td>
                    {{presents}}
                </td>
                {{#saturee}}
                <td>
                    <em style="color: #a21919">cette salle est saturée</em>
                </td>
                {{/saturee}}
            </tr>
            {{/passagesEnCours}}
        </table>
    </script>


    <p><a href='#deco' onclick="logoutFunction()">Déconnexion</a></p>
</section>
<section id='deco' class='inactive'>
    <h2>Déconnexion</h2>
    <p>Cliquez ici pour vous déconnecter :
        <input type="submit" value="Deconnexion" onclick="logoutFunction()">
    </p>
    <p><a href='#index'>Retour à la page d'accueil</a></p>
</section>


<script async defer src="client_tp5.js"></script>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>

</body>
</html>