/* Sélecteur universel */
* {
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; outline: 0;
}

header, aside, article, footer {
    border: 1px #808080 dotted;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.wrapper {
    /* Conteneurs principaux (horizontaux) */
    display: flex;
    flex-wrap: wrap;
}
article, aside {
    /* Conteneurs secondaires (verticaux) */
    display: flex;
    flex-direction: column;
}
.header-titre {
    text-align: center;
    flex-grow: 3;
}
.header-user {
    flex-grow: 1;
}
.menu {
    flex-grow: 1;
}
.contenu {
    flex-grow: 4;
}
footer div {
    text-align: center;
    flex-grow: 1;
}
p {
    margin-bottom: auto;
}
/*table {*/
/*    width: 100%; text-align: left;*/
/*}*/


#passEnCours , #allPassageByUser{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#passEnCours td, #passEnCours th {
    border: 1px solid #ddd;
    padding: 8px;
}
#allPassageByUser td, #passEnCours th {
    border: 1px solid #ddd;
    padding: 8px;
}

#passEnCours,  tr:nth-child(even){background-color: #f2f2f2;}
#allPassageByUser,  tr:nth-child(even){background-color: #f2f2f2;}

#passEnCours tr:hover {background-color: #ddd;}
#allPassageByUser tr:hover {background-color: #ddd;}

#passEnCours th, #allPassageByUser th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #478f47;
    color: white;
}
